/*github_leaderboard_css*/
.github_leaderboard_add_option_btn
{
    height: 42px !important;
    width: 150px;
    line-height: 42px  !important;
}

.github_leaderboardadmin_pro_badge{
       background: #fd7164;
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 2px 6px;
    border: 1px solid #fc6662;
    border-radius: 4px;
    line-height: 1.6;
    font-size: 12px;
}

.github_leaderboard_winner_result_badge{
    color:green;
    font-weight: bold;
}

.github_leaderboard_leading_result_badge{
    color:orange;
    font-weight: bold;
}

.github_leaderboard_winner_result_badge_text{
    background: #F44336;
    border-radius: 4px;
    padding: 0;
    width: 32px;
    text-align: center;
    display: inline-block;
    color: #fff;
}
.github_leaderboard_pro_alert_col{
        text-align: right;
    padding: 5px !important;
    border-bottom: 1px solid #e5e5e5;
    background: #f9f9f9 !important;
    color: #3455ae !important;
}    

.github_leaderboard_meta_table .wp-picker-holder{
position: absolute;
}

.github_leaderboardadmin_pro_badge i{
        font-size: 18px;
}

.github_leaderboard_add_option_btn i
{
    line-height: 22px  !important;
    display: inline-block;
}

.github_leaderboard_append_option_filed_tr:nth-child(odd)
{
    background: #fafafa;
    border: 1px solid #e5e5e5;
}

.github_leaderboard_append_option_filed_tr:nth-child(even)
{
	background: #fdfdfd;
    border: 1px solid #e5e5e5;
}
.github_leaderboard_short_code
{
    padding: 10px;
    border: 1px solid #fdd252;
    background: #fff59c;
        display: block;
}

#github_leaderboard_account_rm_btn{
    background: #b72d2d;
    color: #fff;
    border: 0;
}
.github_leaderboard_contact_formbuilder_demo{
    position: relative;
    border: 1px solid #ddd;
  min-height: 80px;
    width: 90%;
    margin: 0 auto;
    background: -webkit-linear-gradient(40deg,#0c57a5,#eee)!important;
    background: -o-linear-gradient(40deg,#0c57a5,#eee)!important;
    background: linear-gradient(40deg,#0c57a5,#eee)!important;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
}
.it_edb_input_container{
         padding: 0px 20px 10px;
    color: #fff;
}
.it_adm_ico_button_epoll{
        margin-top: 3px;
}
.it_edb_input_container label{
   padding: 4px 4px;
    display: block; 
}

.github_leaderboard_contact_formbuilder_demo_content .it_edb_input_container .it_edb_input{
       display: block;
    height: 35px;
    border: 1px solid #709ac5;
    background: #fff;
    width: 100% !important;
    border-radius: 0;
}

.github_leaderboard_contact_formbuilder_demo_content .it_edb_input_container label{
   padding: 4px 4px;
    display: block; 
    color: #fff;
    width: 100%;
     font-weight: 400;
    text-align: left;
}
.github_leaderboard_contact_formbuilder_demo_content .it_edb_input_container .it_edb_textarea{
     display: block;
    height: 100px;
    width: 100% !important;
    border: 1px solid #ddd;
    background: #fff;
        border-radius: 0;
}
.github_leaderboard_contact_formbuilder_demo_content .it_edb_input_container{
         padding: 0px 20px 10px;
    color: #fff;
}
.github_leaderboard_contact_formbuilder_demo_content .it_edb_input_container .it_edb_submit,.it_edb_submit,.github_leaderboard_contact_formbuilder_demo_content .it_edb_input_container .github_leaderboard_system_activate_pro_btn{
 max-width: 200px !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .82rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        margin: .375rem auto;
    border: 0;
    display: block !important;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    text-transform: uppercase;
    word-wrap: break-word;
    color: #fff;
    position: relative;

    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    background: -webkit-linear-gradient(50deg,#ffd86f,#fc6262)!important;
    background: -o-linear-gradient(50deg,#ffd86f,#fc6262)!important;
    background: linear-gradient(40deg,#ffd86f,#fc6262)!important;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.github_leaderboard_system_activate_pro_btn{
    background: -webkit-linear-gradient(50deg,#CDDC39,#8BC34A)!important;
    background: -o-linear-gradient(50deg,#CDDC39,#8BC34A)!important;
    
    background: linear-gradient(40deg,#CDDC39,#8BC34A)!important;
}

.github_leaderboard_system_upgrade_pro{
    position: absolute;
    left: 0px;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 99;
    display: block;
    background: rgba(181, 181, 181, 0.47);
    top: 180px; 
}
.github_leaderboard_sys_show_voter{
    
}
.github_leaderboard_system_upgrade_pro_icon{
    font-size: 50px;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 50px;
    height: 50px;
    color: #fc6663;
}
.github_leaderboard_system_upgrade_pro_blur{
    -webkit-filter:blur(1.6px);
    -moz-filter:blur(1.6px);
    -o-filter:blur(1.6px);
    -ms-filter:blur(1.6px);
    filter:blur(1.6px);
}

.github_leaderboard_system_upgrade_pro_dotted_line{
        display: block;
    padding: 20px 0;
    border-top: 5px dashed #b5b5b5;
    position: relative;
    top: -6px;
   }
 .github_leaderboard_system_upgrade_pro_btn{
    text-align: center;
    max-width: 300px;
    text-decoration: none;
 }
 .github_leaderboard_voting_confirmation_poll_title{
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #fffed3;
    padding: 10px;
    border-bottom: 1px solid #86a8cc;
    background: -webkit-linear-gradient(40deg,#7fa4ca,#1f63ab)!important;
    background: linear-gradient(40deg,#7fa4ca,#1f63ab)!important;
    background: -o-linear-gradient(40deg,#7fa4ca,#1f63ab)!important;
    background: -moz-linear-gradient(40deg,#7fa4ca,#1f63ab)!important;
 }
 .it_edb_pro_activation_form{
        padding: 20px;
    background: #fff;
    border: 1px solid #b9b9b9;
    margin: 0 20px;
    box-shadow: 2px 2px 5px #a2a2a2;
 }